
/**
 * SCSS partial that contains all of the base (structural) styles for this block.
 */
 .wp-block--block-sandbox-caterpillar {
	background-color: #21759b;
	color: #fff;
	padding: 10px;

	p {
		@include bu_block_starter_fancy_mixin();
		border-width: var(--block-sandbox-border-width );
	}

	.wp-block--block-sandbox-caterpillar--title {
		color: purple;
		@extend %icon-plus;
	}
}
