/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block--labs-theme-blocks-caterpillar--container{
	font-family: monospace;
	white-space: break-spaces;
}
.wp-block--labs-theme-blocks-caterpillar--title {
	color: orange !important;
}
.wp-block--labs-theme-blocks-caterpillar--color-green {
	color: green;
}
.wp-block--labs-theme-blocks-caterpillar--color-red {
	color: red;
}
.wp-block--labs-theme-blocks-caterpillar--color-blue {
	color: blue;
}
